/*	Settings
=======================================	*/
@import 'https://cdnjs.cloudflare.com/ajax/libs/minireset.css/0.0.2/minireset.min.css';
html {
  height: 100%;
}

body {
  background-color: #D9854C;
  height: 100%;
  padding: 5%;
}

.container {
  min-height: 100%;
  margin: 0 auto;
  width: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.weird-corner {
  position: absolute;
  top: -5px;
  right: 0;
  box-shadow: inset 2px 0 0 0 black;
  background-color: #585149;
  height: 5px;
  width: 40px;
  z-index: 1;
}

.weird-corner:before {
  background-image: linear-gradient(135deg, #D9854C 14px, black 15px, #585149 16px);
  position: absolute;
  top: 5px;
  right: 79px;
  box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.33);
  content: '';
  width: 20px;
  height: 5px;
}

.weird-corner:after {
  background-image: radial-gradient(at bottom right, rgba(0, 0, 0, 0.2), #D9854C 60%);
  position: absolute;
  top: -5px;
  right: 40px;
  background-color: #D9854C;
  height: 10px;
  width: 40px;
  content: '';
}

.floppy-disk {
  box-shadow: inset 1px -1px 1px rgba(0, 0, 0, 0.5), -10px 0 10px -10px rgba(0, 0, 0, 0.66), -30px 0 30px -30px rgba(0, 0, 0, 0.33);
  background-image: linear-gradient(225deg, #5c554e, #585149);
  background-color: #585149;
  border-radius: 10px;
  position: relative;
  height: 405px;
  width: 400px;
  margin: auto;
}

.floppy-disk:before {
  position: absolute;
  top: -5px;
  left: 0;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: #585149;
  border-radius: 10px 0 0 0;
  display: block;
  height: 45px;
  width: 45px;
  content: '';
  z-index: 0;
}

.floppy-disk:after {
  position: absolute;
  top: -5px;
  right: 0;
  content: '';
  z-index: 1;
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent #D9854C transparent transparent;
  border-width: 0 25px 30px 0;
}

.shutter-plate {
  position: absolute;
  top: -200px;
  right: 4px;
  bottom: 3px;
  box-shadow: -1px 1px 0.5px black;
  border-radius: 0 0 10px 10px;
  background-color: #342D23;
  height: 125px;
  width: 200px;
  z-index: 2;
}

.shutter-plate:active {
  position: absolute;
  top: -2px;
  bottom: 3px;
  left: 4px;
}

.shutter-recess {
  box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.33), -1px 0 0 rgba(212, 192, 173, 0.33), inset -2px 0 1px rgba(0, 0, 0, 0.66), inset -2px 0 1px black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 45px;
  border-radius: 0 0 10px 10px;
  background-color: #585149;
  height: 125px;
  width: 260px;
}

.shutter-plate-hole {
  /*
	@include position(absolute,20px 30px 0 null);
	background-image: linear-gradient(225deg,tint($plastic,2.5%),$plastic);
	background-color: $plastic;
	box-shadow: inset -1px 1px 0.5px black;
	border-radius: 3px;
	height: 95px;
	width: 50px;
*/
  position: absolute;
  top: 20px;
  right: 88px;
  bottom: 0;
  background-color: yellow;
  border-radius: 3px;
  height: 95px;
  width: 50px;
  -webkit-clip-path: ellipse(60px 40px at 75px 30px);
          clip-path: ellipse(60px 40px at 75px 30px);
}

.sticker-recess {
  box-shadow: inset -2px 2px 2px rgba(0, 0, 0, 0.66), -1px 1px 0 rgba(212, 192, 173, 0.5), inset 0 -1px 0 #D9854C;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 40px;
  background-color: #4a443d;
  border-radius: 10px 10px 0 0;
  height: 250px;
  width: 320px;
}

.shutter-hole {
  position: absolute;
  top: 20px;
  right: 88px;
  bottom: 0;
  background-color: #D9854C;
  border-radius: 3px;
  height: 95px;
  width: 50px;
}

.sticker {
  background-image: linear-gradient(135deg, #F4F5F0, #eeefea);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 45px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.33);
  border-radius: 10px 10px 0 0;
  height: 245px;
  width: 310px;
}

.hole-left {
  box-shadow: 1px -1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(212, 192, 173, 0.66);
  background-image: radial-gradient(at bottom left, #915933, #4a2d1a);
  position: absolute;
  bottom: 25px;
  left: 11px;
  background-color: #D9854C;
  height: 18px;
  width: 19px;
}

.hole-right {
  box-shadow: 1px -1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(212, 192, 173, 0.66);
  background-image: radial-gradient(at bottom left, #915933, #4a2d1a);
  position: absolute;
  right: 11px;
  bottom: 25px;
  background-color: #D9854C;
  height: 18px;
  width: 19px;
}
