@charset "UTF-8";
/*	Settings
=======================================	*/
@import 'https://cdnjs.cloudflare.com/ajax/libs/minireset.css/0.0.2/minireset.min.css';
/*	Making & Breaking the Grid
=======================================	*/
@import 'https://fast.fonts.net/cssapi/10017f11-893e-472b-b612-263bf0449ba3.css';
body {
  background-color: #dfecec;
  font-family: "FF DIN® W06", sans-serif;
  padding-bottom: 42px;
  position: relative;
  color: #333;
  margin: 0;
}

.book-folio {
  background-color: #dfecec;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  display: table;
  width: 100%;
  position: fixed;
  z-index: 1000;
  bottom: 0;
}

.book-folio > * {
  display: table-cell;
  padding: 1em;
  margin: 0;
}

.book-folio--name {
  text-align: center;
}

.book-folio--name i {
  font-style: normal;
  opacity: 0.5;
}

.book-folio--number {
  text-align: center;
}

.book-folio--title {
  background-color: #fff;
  font-weight: bold;
  padding-left: 0;
}

.spread > * {
  position: relative;
  z-index: 5;
}

/*	Making & Breaking the Grid - p.43
=======================================	*/
.p43 {
  background-color: #fff;
  padding: 3em 2.25em;
  line-height: 1.5em;
  position: relative;
  font-size: 0.85em;
  margin: 5vw auto;
  color: sienna;
  width: 1200px;
  height: 800px;
  grid-template-columns: repeat(13, minmax(-webkit-min-content, 1fr));
  grid-template-columns: repeat(13, minmax(min-content, 1fr));
  grid-template-rows: repeat(10, minmax(-webkit-min-content, 1fr));
  grid-template-rows: repeat(10, minmax(min-content, 1fr));
  grid-column-gap: 1.5em;
  grid-row-gap: 1em;
  display: grid;
}

.p43 > * {
  position: relative;
  z-index: 5;
}

header {
  background-color: #dfecec;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  display: table;
  color: #333;
  width: 100%;
  position: fixed;
  z-index: 999;
  bottom: 0;
}

header a {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  text-decoration: none;
  color: #333;
}

header > * {
  display: table-cell;
  padding: 1em;
  margin: 0;
}

.folio-name {
  text-align: center;
  width: 1200px;
  height: 800px;
  grid-template-columns: repeat(13, minmax(-webkit-min-content, 1fr));
  grid-template-columns: repeat(13, minmax(min-content, 1fr));
  grid-template-rows: repeat(10, minmax(-webkit-min-content, 1fr));
  grid-template-rows: repeat(10, minmax(min-content, 1fr));
  grid-column-gap: 1.5em;
  grid-row-gap: 1em;
  display: grid;
  background-color: white;
  padding: 3em 2.25em;
  position: relative;
  margin: 5vw auto;
  width: 1200px;
  height: 800px;
  z-index: 0;
}

.folio-name > * {
  position: relative;
  z-index: 0;
}

.page1,
.page2 {
  grid-template-columns: repeat(6, minmax(-webkit-min-content, 1fr));
  grid-template-columns: repeat(6, minmax(min-content, 1fr));
  grid-template-rows: repeat(10, minmax(-webkit-min-content, 1fr));
  grid-template-rows: repeat(10, minmax(min-content, 1fr));
  grid-column-gap: 1.5em;
  grid-row-gap: 1em;
  display: grid;
}

.page1 {
  grid-column: 1 / 7;
  grid-row: 1 / 11;
}

.page2 {
  grid-column: 8 / 14;
  grid-row: 1 / 11;
}

.gutter {
  background-image: linear-gradient(90deg, transparent, transparent 49%, rgba(95, 158, 160, 0.25) 49%, rgba(95, 158, 160, 0.25) 51%, transparent 51%, transparent);
  grid-column: 7 / 8;
  grid-row: 1 / 11;
}

.show-grid .row {
  border-right: 1px solid cadetblue;
  border-left: 1px solid cadetblue;
  grid-row-start: 1;
  grid-row-end: 11;
}

.show-grid .col {
  border-bottom: 1px solid cadetblue;
  border-top: 1px solid cadetblue;
  grid-column-start: 1;
  grid-column-end: 11;
}

.title {
  text-transform: uppercase;
  line-height: 1.2em;
  font-weight: bold;
  color: firebrick;
  font-size: 2em;
  align-self: start;
  grid-column: 1 / 6;
  grid-row: 5 / 6;
}

.kicker {
  font-weight: bold;
  font-size: 1.44em;
  grid-column: 4 / 7;
  grid-row: 1 / 1;
}

.large-image,
.medium-image,
.small-image {
  z-index: 0;
}

.large-image {
  background-color: rgba(210, 180, 140, 0.5);
  grid-column: 4 / 10;
  grid-row: 2 / 10;
}

.medium-image {
  background-color: rgba(95, 158, 160, 0.5);
  grid-column: 8 / 12;
  grid-row: 1 / 5;
}

.small-image {
  background-color: rgba(210, 180, 140, 0.5);
  grid-column: 1 / 3;
  grid-row: 4 / 6;
}

.pullquote {
  line-height: 1.33em;
  font-size: 1.33em;
  font-weight: bold;
  color: firebrick;
  grid-column: 9 / 13;
  grid-row: 6 / 9;
}

.para1 {
  color: cadetblue;
  grid-column: 2 / 4;
  grid-row: 6 / 11;
}

.para2 {
  grid-column: 4 / 7;
  grid-row: 4 / 6;
}

.para3 {
  grid-column: 10 / 12;
  grid-row: 5 / 11;
}

.para4 {
  grid-column: 12 / 14;
  grid-row: 3 / 7;
}

.numeral {
  line-height: 1em;
  font-weight: bold;
  color: firebrick;
  font-size: 4.5em;
  top: -4px;
  align-self: center;
  grid-column: 13 / 14;
  grid-row: 5 / 6;
}
