@charset "UTF-8";
/*	Settings
=======================================	*/
@import 'https://cdnjs.cloudflare.com/ajax/libs/minireset.css/0.0.2/minireset.min.css';
/*	Making & Breaking the Grid
=======================================	*/
@import 'https://fast.fonts.net/cssapi/10017f11-893e-472b-b612-263bf0449ba3.css';
@import 'https://fast.fonts.net/cssapi/c6b661c6-8365-464d-935a-40de43e5d275.css';
body {
  background-color: #dfecec;
  font-family: "FF DIN® W06", sans-serif;
  padding-bottom: 42px;
  position: relative;
  color: #333;
  margin: 0;
}

.book-folio {
  background-color: #dfecec;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  display: table;
  width: 100%;
  position: fixed;
  z-index: 1000;
  bottom: 0;
}

.book-folio > * {
  display: table-cell;
  padding: 1em;
  margin: 0;
}

.book-folio--name {
  text-align: center;
}

.book-folio--name i {
  font-style: normal;
  opacity: 0.5;
}

.book-folio--number {
  text-align: center;
}

.book-folio--title {
  background-color: #fff;
  font-weight: bold;
  padding-left: 0;
}

.spread > * {
  position: relative;
  z-index: 5;
}

/*	Making & Breaking the Grid - p.27
=======================================	*/
.p27 {
  -webkit-font-smoothing: antialiased;
  font-family: "Trade Gothic Next LT W05 Rg";
  background-color: #333;
  letter-spacing: 0.25px;
  line-height: 1.5em;
  font-size: 0.7em;
  color: #fff;
}

.p27 b {
  font-family: "Trade Gothic Next LT W01 Bold";
}

.p27 img {
  display: block;
  height: 100%;
  width: 100%;
}

@media (min-width: 1600px) {
  .p27 {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
}

.page-folio {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1;
}

.page-folio span {
  vertical-align: middle;
  display: inline-block;
}

@media (min-width: 768px) {
  .page-folio {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    align-self: stretch;
    text-align: center;
    line-height: 50px;
  }
  .page1 .page-folio {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }
  .page2 .page-folio {
    grid-column: 5 / span 1;
    grid-row: 1 / span 2;
  }
}

@media (max-width: 767px) {
  .page-folio--title {
    margin-left: 0.75em;
  }
}

@media (min-width: 768px) {
  .page-folio--title {
    margin-top: 0.75em;
  }
}

.page-folio--number {
  line-height: 1;
}

@media (max-width: 767px) {
  .page-folio--number {
    border-right: 1px solid rgba(255, 255, 255, 0.75);
    padding-right: 0.75em;
  }
}

@media (min-width: 768px) {
  .page-folio--number {
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    padding-left: 0.75em;
  }
}

.page1 {
  border-bottom: 1px solid black;
}

@media (max-width: 767px) {
  .page1 > *:not(.symbol1) {
    padding: calc(1.5em + 1.5vw);
  }
}

@media (min-width: 768px) {
  .page1 {
    border: 0.5px solid black;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr;
    justify-content: end;
    align-content: end;
    align-items: end;
    grid-gap: 1.5em;
    display: grid;
  }
}

.col1 {
  padding-top: 5vw;
}

.col1 h2 {
  font-size: calc(1.5em + 1.5vw);
  margin-bottom: 0.375em;
  line-height: 1em;
}

.col1 p {
  text-indent: 1.5em;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .col1 {
    grid-column: 2 / span 2;
  }
}

@media (min-width: 1200px) {
  .col1 {
    grid-column: 2 / span 2;
  }
}

.two-cols, .col2,
.col3,
.col4 {
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
  -webkit-column-count: 2;
          column-count: 2;
}

.symbol1 {
  height: auto;
  width: 100%;
}

.symbol1 svg {
  margin-left: auto;
  margin-right: 0;
}

@media (min-width: 768px) {
  .symbol1 {
    grid-column: 4 / span 2;
    grid-row: 2 / span 1;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: scale(1.215);
            transform: scale(1.215);
  }
}

@media (min-width: 1200px) {
  .symbol1 {
    grid-column: 4 / span 2;
    grid-row: 2 / span 1;
  }
}

.caption {
  margin-bottom: 3em;
  max-width: 75%;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .caption {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
  }
}

@media (min-width: 1200px) {
  .caption {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
  }
}

.page2 {
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .page2 .page-folio {
    padding: calc(1.5em + 1.5vw);
  }
  .page2 .col2,
  .page2 .col3 {
    padding: 0 calc(1.5em + 1.5vw);
  }
  .page2 .col4 {
    padding: 0 calc(1.5em + 1.5vw) calc(1.5em + 1.5vw);
  }
}

@media (min-width: 768px) {
  .page2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 50px;
    align-items: stretch;
    grid-gap: 1.5em;
    display: grid;
    border: 0.5px solid black;
    padding-top: 0;
  }
  .page2 p:last-of-type {
    margin-bottom: 3em;
  }
}

.symbol2 {
  min-height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .symbol2 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    justify-self: start;
    align-self: end;
  }
}

.col2 h3,
.col3 h3,
.col4 h3 {
  font-weight: bold;
}

.col2 h3 time,
.col3 h3 time,
.col4 h3 time {
  display: block;
}

.col2 p,
.col3 p,
.col4 p {
  margin-bottom: 1.5em;
}

@media (min-width: 768px) {
  .col2,
  .col3,
  .col4 {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

@media (min-width: 768px) {
  .col2 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
}

@media (min-width: 768px) {
  .col3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    align-self: center;
  }
}

@media (min-width: 768px) {
  .col4 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
    align-self: end;
  }
}

.company-name {
  font-family: "Trade Gothic Next LT W01 Heavy";
  margin: 0.75em 0 1.5em 0;
  letter-spacing: 2px;
  font-size: 1.25em;
  display: block;
}
