

/*	Making & Breaking the Grid
=======================================	*/

@import 'https://fast.fonts.net/cssapi/10017f11-893e-472b-b612-263bf0449ba3.css'; // fonts

$base-font: 'FF DIN® W06';
$cadetblue: cadetblue;
$white: #fff;
$black: #333;


// Book Layout

body {
	background-color: tint($cadetblue,80%);
	font-family: $base-font, sans-serif;
	padding-bottom: 42px;
	position: relative;
	color: $black;
	margin: 0;
}

.book-folio {
	background-color: tint($cadetblue,80%);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	display: table;
	width: 100%;
	
	position: fixed;
	z-index: 1000;
	bottom: 0;
	
	> * {
		display: table-cell;
		padding: 1em;
		margin: 0;
	}
	
	&--name {
		text-align: center;
		
		i {
			font-style: normal;
			opacity: 0.5;
		}
	}
	
	&--number {
		text-align: center;
	}
	
	&--title {
		background-color: $white;
		font-weight: bold;
		padding-left: 0;
	}
}

.spread {
	> * {
		position: relative;
		z-index: 5;
	}
}


