
@import 'settings';

$background: #D9854C;
$highlight: #D4C0AD;
$plastic: #585149;
$metal: #342D23;
$paper: #F4F5F0;

html {
	height: 100%;
}

body {
	background-color: $background;
	height: 100%;
	padding: 5%;
}

.container {
	min-height: 100%;
	margin: 0 auto;
	width: 400px;
	
	justify-content: center;
	align-items: center;
	display: flex;
}

.weird-corner {
	@include position(absolute, -5px 0 null null);
	box-shadow: inset 2px 0 0 0 black;
	background-color: $plastic;
	height: 5px;
	width: 40px;
	z-index: 1;
	
	&:before {
		background-image: linear-gradient(135deg,$background 14px, black 15px, $plastic 16px);	
		@include position(absolute, 5px 79px null null);
		box-shadow: inset 0 -2px 3px rgba(black,0.33);
		content: '';
		width: 20px;
		height: 5px;
	}
	
	&:after {
		background-image: radial-gradient(at bottom right,rgba(black,0.2), $background 60%);
		@include position(absolute, -5px 40px null null);
		background-color: $background;
		height: 10px;
		width: 40px;
		content: '';
	}
}

.floppy-disk {
	box-shadow: inset 1px -1px 1px rgba(black,0.5), -10px 0 10px -10px rgba(black,0.66), -30px 0 30px -30px rgba(black,0.33);
	background-image: linear-gradient(225deg,tint($plastic,2.5%),$plastic);
	background-color: $plastic;
	border-radius: 10px;
	position: relative;
	height: 405px;
	width: 400px;
	margin: auto;

	
	&:before {
		@include position(absolute, -5px null null 0);
		box-shadow: inset 1px 1px 1px rgba(black,0.5);
		background-color: $plastic;
		border-radius: 10px 0 0 0;
		display: block;
		height: 45px;
		width: 45px;
		content: '';
		z-index: 0;
	}
	
	&:after {
		@include position(absolute, -5px 0 null null);
		content: '';
		z-index: 1;

		border-style: solid;
		height: 0;
		width: 0;
		border-color: transparent $background transparent transparent;
		border-width: 0 25px 30px 0;
	}
}

.shutter-plate {
	@include position(absolute,-200px 4px 3px null);
	box-shadow: -1px 1px 0.5px black;
	border-radius: 0 0 10px 10px;
	background-color: $metal;
	height: 125px;
	width: 200px;
	z-index: 2;
	
	&:active {
		@include position(absolute,-2px null 3px 4px);
	}
}

.shutter-recess {
	box-shadow:
		inset 1px 0 1px rgba(black,0.33), 
		-1px 0 0 rgba($highlight,0.33), 
		inset -2px 0 1px rgba(black,0.66),
		inset -2px 0 1px black,
	;

	@include position(absolute,0 0 0 45px);
	border-radius: 0 0 10px 10px;
	background-color: $plastic;
	height: 125px;
	width: 260px;
}

.shutter-plate-hole {
/*
	@include position(absolute,20px 30px 0 null);
	background-image: linear-gradient(225deg,tint($plastic,2.5%),$plastic);
	background-color: $plastic;
	box-shadow: inset -1px 1px 0.5px black;
	border-radius: 3px;
	height: 95px;
	width: 50px;
*/

	@include position(absolute,20px 88px 0 null);
	background-color: yellow;
	border-radius: 3px;
	height: 95px;
	width: 50px;
	
	clip-path: ellipse(60px 40px at 75px 30px);
}

.sticker-recess {
	box-shadow: inset -2px 2px 2px rgba(black,0.66), -1px 1px 0 rgba($highlight,0.5), inset 0 -1px 0 $background;
	@include position(absolute,null 0 0 40px);
	background-color: darken($plastic,5%);
	border-radius: 10px 10px 0 0;
	height: 250px;
	width: 320px;
}

.shutter-hole {
	@include position(absolute,20px 88px 0 null);
	background-color: $background;
	border-radius: 3px;
	height: 95px;
	width: 50px;
}

.sticker {
	background-image: linear-gradient(135deg,$paper,shade($paper,2.5%));
	@include position(absolute,null 0 0 45px);
	box-shadow: 0 1px 1px rgba(black,0.33);
	border-radius: 10px 10px 0 0;
	height: 245px;
	width: 310px;
}

.hole-left {
	box-shadow: 1px -1px 0 rgba(black,0.5), 1px 1px 0 rgba(black,0.5), -1px 0 0 rgba($highlight,0.66);
	background-image: radial-gradient(at bottom left, shade($background,33%), shade($background,66%));
	@include position(absolute,null null 25px 11px);
	background-color: $background;
	height: 18px;
	width: 19px;
}

.hole-right {
	box-shadow: 1px -1px 0 rgba(black,0.5), 1px 1px 0 rgba(black,0.5), -1px 0 0 rgba($highlight,0.66);
	background-image: radial-gradient(at bottom left, shade($background,33%), shade($background,66%));
	@include position(absolute,null 11px 25px null);
	background-color: $background;
	height: 18px;
	width: 19px;
}