
@import 'settings';
@import 'mb';

@import 'https://fast.fonts.net/cssapi/c6b661c6-8365-464d-935a-40de43e5d275.css';

$body-bold:'Trade Gothic Next LT W01 Bold';
$body-regular:'Trade Gothic Next LT W05 Rg';
$display-heavy:'Trade Gothic Next LT W01 Heavy';


/*	Making & Breaking the Grid - p.27
=======================================	*/

// 2 page spread

.p27 {
	-webkit-font-smoothing: antialiased;
	font-family: $body-regular;
	background-color: $black;
	letter-spacing: 0.25px;
	line-height: 1.5em;
	font-size: 0.7em;
	color: $white;
	
	b {
		font-family: $body-bold;
	}
	
	img {
		display: block;
		height: 100%;
		width: 100%;
	}

	@media (min-width: 1600px) {
		grid-template-columns: 1fr 1fr;
		display: grid;
	}
}


// Page folios: page num and title

.page-folio { 
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 1;

	span {
		vertical-align: middle;
		display: inline-block;
	}

	@media (min-width: 768px) {
		writing-mode: vertical-rl;
		align-self: stretch;	
		text-align: center;
		line-height: 50px;
		
		.page1 & {
			grid-column: 1 / span 1;
			grid-row: 1 / span 2; 
		}
		
		.page2 & {
			grid-column: 5 / span 1;
			grid-row: 1 / span 2;
		}
	}
}

.page-folio--title {
	@media (max-width: 767px) {
		margin-left: 0.75em;
	}
	
	@media (min-width: 768px) {
		margin-top: 0.75em;
	}
}

.page-folio--number {
	line-height: 1;
	
	@media (max-width: 767px) {
		border-right: 1px solid rgba($white,0.75);
		padding-right: 0.75em;
	}
	
	@media (min-width: 768px) {
		border-left: 1px solid rgba($white,0.75);
		transform: rotate(-90deg);
		padding-left: 0.75em;
	}
}



// Page 1: Grid 1

.page1 {
	border-bottom: 1px solid black;
	
	@media (max-width: 767px) {
		> *:not(.symbol1) {
			padding: calc(1.5em + 1.5vw);
		}
	}
	
	@media (min-width: 768px) {
		border: 0.5px solid black;
		
		grid-template-columns: 50px 1fr 1fr 1fr 1fr;
		justify-content: end;
		align-content: end;
		align-items: end;
		grid-gap: 1.5em;
		display: grid;
	}
}

.col1 { // Double column
	padding-top: 5vw;
	
	h2 {
		font-size: calc(1.5em + 1.5vw);
		margin-bottom: 0.375em;
		line-height: 1em;
	}
	
	p {
		text-indent: 1.5em;
	}
	
	@media (min-width: 768px) and (max-width: 1199px) {
		grid-column: 2 / span 2;
	}
	
	@media (min-width: 1200px) {
		grid-column: 2 / span 2;
	}
}

.two-cols {
	column-gap: 1.5em;
	column-count: 2;
}

.symbol1 { // Symbol @
	height: auto;
	width: 100%;
	
	svg {
		margin-left: auto;
		margin-right: 0;
	}
	
	@media (min-width: 768px) {
		grid-column: 4 / span 2;
		grid-row: 2 / span 1;
		
		transform-origin: bottom right;
		transform: scale(1.215);
	}
	
	@media (min-width: 1200px) {
		grid-column: 4 / span 2;
		grid-row: 2 / span 1;
	}
}

.caption { // Caption
	margin-bottom: 3em;
	max-width: 75%;
	opacity: 0.5;
	
	@media (min-width: 768px) {
		grid-column: 2 / span 2;
		grid-row: 2 / span 1;
	}
	
	@media (min-width: 1200px) {
		grid-column: 2 / span 2;
		grid-row: 2 / span 1;
	}
}



// Page 2: Grid 2

.page2 {
	overflow-y: scroll;
	overflow-x: hidden;
	
	@media (max-width: 767px) {
		.page-folio {
			padding: calc(1.5em + 1.5vw);
		}
		
		.col2,
		.col3 {
			padding: 0 calc(1.5em + 1.5vw);
		}
		
		.col4 {
			padding: 0 calc(1.5em + 1.5vw) calc(1.5em + 1.5vw);
		}
	}
	
	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr 1fr 1fr 50px;
		align-items: stretch;
		grid-gap: 1.5em;
		display: grid;
		
		border: 0.5px solid black;
		padding-top: 0;
		
		p:last-of-type {
			margin-bottom: 3em;
		}
	}
}

// Page 2: Symbol 2

.symbol2 {
	min-height: 100%;
	width: 100%;
	
	@media (min-width: 768px) {
		grid-column: 1 / span 2;
		grid-row: 1 / span 1;
		
		justify-self: start;
		align-self: end;
	}
}

.col2,
.col3,
.col4 {
	@extend .two-cols;
	
	h3 {
		font-weight: bold;
		
		time {
			display: block;
		}
	}
	
	p {
		margin-bottom: 1.5em;
	}
	
	@media (min-width: 768px) {
		column-count: 1;
	}
}

.col2 {
	@media (min-width: 768px) {
		grid-column: 2 / span 1;
		grid-row: 2 / span 1;
	}
}

.col3 {
	@media (min-width: 768px) {
		grid-column: 3 / span 1;
		grid-row: 1 / span 2;
		align-self: center;
	}
}

.col4 {
	@media (min-width: 768px) {
		grid-column: 4 / span 1;
		grid-row: 1 / span 2;
		align-self: end;
	}
}

.company-name {
	font-family: $display-heavy;
	margin: 0.75em 0 1.5em 0;
	letter-spacing: 2px;
	font-size: 1.25em;
	display: block;
}
