
@import 'settings';
@import 'mb';

$firebrick: firebrick;
$sienna: sienna;
$black: #333;
$tan: tan;


/*	Making & Breaking the Grid - p.43
=======================================	*/

.p43 {
	background-color: $white;
	padding: 3em 2.25em;
	line-height: 1.5em;
	position: relative;
	font-size: 0.85em;
	margin: 5vw auto;
	color: $sienna;
	width: 1200px;
	height: 800px;
	
	grid-template-columns: repeat(13, minmax(min-content, 1fr));
 	grid-template-rows: repeat(10, minmax(min-content, 1fr));
 	grid-column-gap: 1.5em;
 	grid-row-gap: 1em;
 	display: grid;
	
	> * {
		position: relative;
		z-index: 5;
	}
}

header {
	background-color: tint($cadetblue,80%);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	display: table;
	color: $black;
	width: 100%;
	
	position: fixed;
	z-index: 999;
	bottom: 0;
	
	a {
		border-bottom: 1px solid rgba($black,0.1);
		text-decoration: none;
		color: $black;
	}

	> * {
		display: table-cell;
		padding: 1em;
		margin: 0;
	}
}

.folio-name {
	text-align: center;
	width: 1200px;
	height: 800px;
	
	grid-template-columns: repeat(13, minmax(min-content, 1fr));
	grid-template-rows: repeat(10, minmax(min-content, 1fr));
	grid-column-gap: 1.5em;
	grid-row-gap: 1em;
	display: grid;
	
	background-color: white;
	padding: 3em 2.25em;
	position: relative;
	margin: 5vw auto;
	width: 1200px;
	height: 800px;
	z-index: 0;
	
	> * {
		position: relative;
		z-index: 0;
	}
}

.page1,
.page2 {
	grid-template-columns: repeat(6, minmax(min-content, 1fr));
	grid-template-rows: repeat(10, minmax(min-content, 1fr));
	grid-column-gap: 1.5em;
	grid-row-gap: 1em;
	display: grid;
}

.page1 {
	grid-column: 1 / 7;
	grid-row: 1 / 11;
}

.page2 {
	grid-column: 8 / 14;
	grid-row: 1 / 11;
}

.gutter {
	background-image: 
		linear-gradient(90deg, 
			transparent,
			transparent 49%,
			rgba($cadetblue,0.25) 49%, 
			rgba($cadetblue,0.25) 51%, 
			transparent 51%,
			transparent)
	;
	
	grid-column: 7 / 8;
	grid-row: 1 / 11;
}

.show-grid {
	.row {
		border-right: 1px solid $cadetblue;
		border-left: 1px solid $cadetblue;
		
		grid-row-start: 1;
		grid-row-end: 11;
	}
	
	.col {
		border-bottom: 1px solid $cadetblue;
		border-top: 1px solid $cadetblue;

		grid-column-start: 1;
		grid-column-end: 11;
	}
}


// Grid Items

.title {
	text-transform: uppercase;
	line-height: 1.2em;
	font-weight: bold;
	color: $firebrick;
	font-size: 2em;
	
	align-self: start;

	grid-column: 1 / 6;
	grid-row: 5 / 6;
}

.kicker {
	font-weight: bold;
	font-size: 1.44em;
	
	grid-column: 4 / 7;
	grid-row: 1 / 1;
}

.large-image,
.medium-image,
.small-image {
	z-index: 0;
}

.large-image {
	background-color: rgba($tan,0.5);
	
	grid-column: 4 / 10;
	grid-row: 2 / 10;
}

.medium-image {
	background-color: rgba($cadetblue,0.5);
	
	grid-column: 8 / 12;
	grid-row: 1 / 5;
}

.small-image {
	background-color: rgba($tan,0.5);
	
	grid-column: 1 / 3;
	grid-row: 4 / 6;
}

.pullquote {
	line-height: 1.33em;
	font-size: 1.33em;
	font-weight: bold;
	color: $firebrick;
	
	grid-column: 9 / 13;
	grid-row: 6 / 9;
}

.para1 {
	color: $cadetblue;
	
	grid-column: 2 / 4;
	grid-row: 6 / 11;
}

.para2 {
	grid-column: 4 / 7;
	grid-row: 4 / 6;
}

.para3 {
	grid-column: 10 / 12;
	grid-row: 5 / 11;
}

.para4 {
	grid-column: 12 / 14;
	grid-row: 3 / 7;
}

.numeral {
	line-height: 1em;
	font-weight: bold;
	color: $firebrick;
	font-size: 4.5em;
	top: -4px;
	
	align-self: center;
	
	grid-column: 13 / 14;
	grid-row: 5 / 6;
}